:host {
  .container {
    position: relative;
    height: 100%;

    .tasks-table::ng-deep {
      .actions-cell {
        .buttons-wrapper {
          display: flex;
          justify-content: flex-start;
          gap: 10px;
        }
      }

      .check-mark-cell {
        mat-icon {
          cursor: pointer;
        }
      }

      .mat-form-field {
        .mat-form-field-infix {
          padding: 0;
        }
      }
    }

    .add-task-button {
      position: absolute;
      bottom: 0;
      right: 20px;
    }
  }
}
